* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.wrapper {
  width: 80%;
  margin: auto; }

.overlay {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  background: #FFBA3B;
  opacity: .8; }

header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1;
  height: 40px;
  background: #FF4D3B; }
  header .wrapper {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between; }
    header .wrapper .navBarMenu {
      width: 32px;
      margin-top: 8px;
      height: 22px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      cursor: pointer; }
      header .wrapper .navBarMenu .topBar, header .wrapper .navBarMenu .middleBar, header .wrapper .navBarMenu .bottomBar {
        height: 4px;
        background: #FFBA3B; }
    header .wrapper .title {
      text-align: center;
      padding-top: 5px;
      letter-spacing: 4px; }
      header .wrapper .title span {
        font-size: 25px; }
        header .wrapper .title span:first-of-type {
          color: #EEE;
          margin-right: 3px; }
        header .wrapper .title span:last-of-type {
          color: #FFBA3B;
          margin-left: 3px; }
    header .wrapper .cart-btn {
      margin-top: 10px;
      color: #FFBA3B;
      cursor: pointer;
      position: relative;
      font-size: 21px;
      cursor: pointer; }
      header .wrapper .cart-btn .cart-items {
        position: absolute;
        width: 15px;
        height: 15px;
        top: -7px;
        right: -7px;
        color: #EEE;
        font-size: 15px;
        background: #444;
        border-radius: 5px;
        text-align: center; }

aside.cartFrame {
  position: fixed;
  top: 0;
  right: 0;
  width: 40%;
  height: 100vh;
  z-index: 2;
  background: #E6DBAA; }
  aside.cartFrame .cartCloseButton {
    position: absolute;
    top: 17px;
    left: 22px;
    font-size: 20px;
    cursor: pointer;
    color: #FF4D3B; }
  aside.cartFrame h2.title {
    margin-top: 40px;
    font-size: 25px;
    text-align: center; }
  aside.cartFrame .cartItems {
    width: 95%;
    margin: 60px auto;
    overflow-Y: scroll; }
    aside.cartFrame .cartItems .item {
      padding: 5px 20px;
      display: flex;
      justify-content: space-between; }
      aside.cartFrame .cartItems .item .itemInfo {
        display: flex;
        justify-content: space-between; }
        aside.cartFrame .cartItems .item .itemInfo .img {
          width: 100px;
          height: 100px;
          margin-right: 20px;
          background-size: cover;
          cursor: pointer;
          background-image: url("../imgs/table.jpeg"); }
        aside.cartFrame .cartItems .item .itemInfo .itemDetails .title, aside.cartFrame .cartItems .item .itemInfo .itemDetails .price, aside.cartFrame .cartItems .item .itemInfo .itemDetails .removeButton {
          margin-top: 10px;
          color: #222;
          font-size: 18px; }
        aside.cartFrame .cartItems .item .itemInfo .itemDetails .removeButton {
          cursor: pointer;
          color: #555; }
      aside.cartFrame .cartItems .item .itemQuantity {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        font-size: 24px;
        color: #555;
        font-weight: bold; }
        aside.cartFrame .cartItems .item .itemQuantity .quantityPlus, aside.cartFrame .cartItems .item .itemQuantity .quantityMinus {
          font-size: 15px;
          color: #FF4D3B;
          cursor: pointer; }
  aside.cartFrame .cartTotal, aside.cartFrame .cartClear {
    position: absolute;
    bottom: 40px;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    color: #222; }
  aside.cartFrame .cartTotal {
    bottom: 100px; }
  aside.cartFrame .cartClear .cartClearButton {
    border: 1px solid #000;
    background: #FF4D3B;
    width: 100px;
    margin: auto;
    cursor: pointer; }

.cartFrameVisible {
  right: 0; }

.overlayVisible {
  display: block; }

section.welcome {
  background: url("../imgs/hero-bcg.jpeg") center/cover no-repeat;
  height: calc(100vh - 40px);
  display: flex;
  flex-direction: column;
  justify-content: center; }
  section.welcome .shopNowCard {
    background: rgba(255, 194, 100, 0.6);
    width: 55%;
    height: 140px;
    margin: auto;
    color: #444;
    text-align: center;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    padding-top: 27px;
    text-transform: uppercase; }
    section.welcome .shopNowCard p {
      font-size: 22px;
      font-weight: bold; }
    section.welcome .shopNowCard .shopNowButton {
      margin: auto;
      padding: 5px 4px;
      width: 110px;
      height: 31px;
      border: 3px solid #444;
      cursor: pointer;
      font-weight: bold;
      font-size: 14px; }

section.productsSection .sectionTitle {
  padding: 70px 0 90px 0; }
  section.productsSection .sectionTitle h2 {
    font-size: 30px;
    text-align: center;
    letter-spacing: 4px;
    text-transform: capitalize; }

section.productsSection .products {
  display: flex;
  justify-content: center;
  flex-wrap: wrap; }
  section.productsSection .products div {
    margin: 20px 10px; }
    section.productsSection .products div .imageContainer {
      position: relative;
      overflow: hidden; }
      section.productsSection .products div .imageContainer:hover button {
        right: 0; }
      section.productsSection .products div .imageContainer:hover img {
        opacity: .6; }
      section.productsSection .products div .imageContainer img {
        width: 200px;
        height: 200px;
        display: block;
        transition-duration: .3s; }
      section.productsSection .products div .imageContainer button {
        position: absolute;
        right: -100%;
        bottom: 34px;
        width: 120px;
        height: 24px;
        background: #E8862A;
        color: #444;
        border: none;
        transition-duration: .3s;
        cursor: pointer;
        outline: none; }
        section.productsSection .products div .imageContainer button:hover {
          color: #EEE; }
        section.productsSection .products div .imageContainer button i {
          position: absolute;
          left: 5px;
          top: 5px; }
        section.productsSection .products div .imageContainer button .buttonText {
          font-size: 12px;
          margin: 0;
          margin-left: 20px;
          font-weight: bold;
          text-transform: uppercase; }
    section.productsSection .products div .title, section.productsSection .products div .price {
      text-align: center;
      height: 26px;
      margin-bottom: 6px;
      margin-top: 6px;
      text-transform: capitalize; }
    section.productsSection .products div .price {
      font-weight: bold;
      color: #E8862A; }
